#header {
  width:auto;
}

#name {
  text-align: center;
  font-family: Arial, Verdana, sans-serif;
}

#contact-link {
  font-family: Arial, Verdana, sans-serif;
  float: left;
  text-align: right;
  font-weight: bold;
  font-size: 1.5em;
  width: 250px
}

#blog-link {
  font-family: Arial, Verdana, sans-serif;
  float: right;
  text-align: left;
  font-weight: bold;
  font-size: 1.5em;
  width: 250px;
}

.img-overlay {
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

#image-container img {
  position:relative;
  max-width: 100%;
  max-height: auto;
}

.links {
  text-align: center;
}

body {
  background-color: #7EC0EE;
}

#blog-container {
  padding: 0.5cm 4cm 0cm 4cm;
}

.blog {
  font-family: Arial, Verdana, sans-serif;

  text-align: center;

}

.footer {
  text-align: center;
}

.footer a {
  padding: 0px 10px;
}

#license {
  text-align: center;
}

a {
  text-decoration: none;
}
