* {
  background-color: #7EC0EE;
}

#header {
  width:auto;
}

#name {
  text-align: center;
  font-family: Lucida Sans;
}

#contact {
  float: left;
  text-align: right;
  font-weight: bold;
  font-size: 1.5em;
  width: 250px
}

#blog {
  float: right;
  text-align: left;
  font-weight: bold;
  font-size: 1.5em;
  width: 250px;
}

#image-container img {
  max-width: 100%;
  max-height: auto;
}

#footer {
  z-index: 100;
  text-align: center;
}

a {
    text-decoration: none;
}
