/** {
  background-color: #7EC0EE;
}*/

#header {
  /*background-color: transparent;*/
  width:auto;
}

#name {
  text-align: center;
  font-family: Arial, Verdana, sans-serif;
}

#contact {
  font-family: Arial, Verdana, sans-serif;
  float: left;
  text-align: right;
  font-weight: bold;
  font-size: 1.5em;
  width: 250px
}

#blog {
  font-family: Arial, Verdana, sans-serif;
  float: right;
  text-align: left;
  font-weight: bold;
  font-size: 1.5em;
  width: 250px;
}

.img-overlay {
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

#image-container img {
  position:relative;
  max-width: 100%;
  max-height: auto;
}

.links {
  text-align: center;
  background-color: #7EC0EE;
}

body {
  background-color: #7EC0EE;
}

#footer {
  z-index: 100;
  text-align: center;
}

a {
    text-decoration: none;
}
